body
    margin: 0
header, footer
    background: rgba(252, 76, 255, 0.6)
    display: flex
    align-items: center
    justify-content: center
    color: #fff
header
    height: 100px
footer
    height: 50px
main
    height: calc(100vh - 150px)
#pazl 
    height: 100%
    display: flex
    justify-content: center
    width: 100%
    align-items: end
    flex-wrap: wrap
#start
    border: none
    background: rgba(252, 76, 255, 0.6)
    color: #fff
    font-size: 30px
    font-weight: 700
    padding: 30px
.pulse 
    cursor: pointer
    box-shadow: 0 0 0 rgba(204,169,44, 0.4)
    animation: pulse 1.5s infinite
.bgAnimate
    background: linear-gradient(180deg, #fc4cff, #cc4dce, #963098, #831385)
    background-size: 800% 800%
    -webkit-animation: bgAnimate 27s ease infinite
    -moz-animation: bgAnimate 27s ease infinite
    animation: bgAnimate 27s ease infinite
.puzzle
    background-image:url('http://img1.uaua.info/uploads/17/05/39/17053948-be2b-40ed-81ef-effb8a02f45c_610x375_fit.png')
    width: 100px
    height: 100px
.piece1 
    background-position: 0 0
.piece2
    background-position: -100px -100px
.pazleBlock
    margin: 0 50px
    width: 450px
    height: 450px
    background: rgba(255, 255, 255, 0.37)
    display: flex
    align-items: center
    justify-content: center
.pazleBlock.hide
    visibility: hidden
    opacity: 0
    width: 0
    transition: all 0.5s ease-in-out
    #labelBlock
        opacity: 0
        transition: all 0.2s ease-in-out
#pazleBlock-0
    label
        display: flex
        align-items: center
        justify-content: center
        color: #fff
        font-size: 24px   
        background: #cf5ad1
        border-radius: 25px
        height: 100px
        width: 80%
        cursor: pointer
.uploadFile
    display: none    
    opacity: 0
#output
    display: none
#output.output
    display: flex
.output
    width: 100%
    height: auto
    max-height: calc(100% - 115px)
.baseImageContainer
    flex-direction: column
    justify-content: space-between
    #labelBlock
        width: 50%
        height: 43px
        font-size: 18px
        border: 4px solid #e82deb
    #startGame
        background: white
        display: flex
        align-items: center
        width: 100%
        justify-content: center
        height: 50px
        cursor: pointer
        font-weight: 600
        font-size: 30px
        text-shadow: 5px -1px 5px #af99b0
        outline: 2px solid #c37fc4
        outline-offset: -8px
    .pulseText
        animation-name: pulseText
        animation-duration: 2.5s
        animation-fill-mode: both
        animation-iteration-count: infinite
#columns-full
    display: none
.column
    width: 100px
    height: 100px
    background: red
    position: relative
    z-index: 999
.customizeBlock
    display: inline-block
    .find-pazle
        background: rgba(255, 0, 0, 0.6)
        width: 25%
        height: 25%
        outline: 2px solid green
        outline-offset: -3px
        color: transparent
        text-align: right
        text-indent: -57px
        text-shadow: -9px 8px 0px white
        float: left
        opacity: 0
        background-size: 450px 450px
        transition: all 0.7s ease-in-out
    .find-pazle.clear
        border: 0px solid green
        outline: 0px solid green
.findPuzleContainer
    display: inline-block
    .move-puzle
        background: rgba(255, 0, 0, 0.6)
        background-position-y: 0
        width: 25%
        height: 25%
        outline: 2px solid green
        outline-offset: -3px
        color: transparent
        text-align: right
        text-indent: -57px
        text-shadow: -9px 8px 0px white
        float: left
        // opacity: 0
        transition: all 0.7s ease-in-out
        background-size: 450px 450px
    .move-puzle.accept
        background-image: url(https://www.tututix.com/wp-content/uploads/2015/01/green-check.png) !important
        background-position: 0 0 !important
        background-size: 100% 100% !important
    .move-puzle.fullEnd
        background-image: url(https://www.tututix.com/wp-content/uploads/2015/01/green-check.png) !important
        background-position: 0 0 !important
        background-size: 100% 100%
        width: 100%
        height: 100%
        outline: 0px solid green
#timer
    width: 100%
    background: #fff
    height: 100px
    font-size: 60px
    display: flex
    align-items: center
    justify-content: center
    color: #851687
[draggable]
  user-select: none

.drag-list
  overflow: hidden
  margin: 10px auto
  width: 500px
  border: 1px solid #ccc

.move-puzle
  float: left
  padding: 50px 20px
  width: 25%
  text-align: center
  color: #555
  background: #ddd
  border: 1px solid #ccc
  box-sizing: border-box
  transition: 0.25s

.drag-start
  opacity: 0.8

.drag-enter
  opacity: 0.5
  transform: scale(0.9)
@keyframes pulseText
    0% 
        transform: scale(1)
    50% 
        transform: scale(1.1)
    100% 
        transform: scale(1)
@-webkit-keyframes bgAnimate 
    0%
        background-position: 50% 0%
    50%
        background-position: 51% 100%
    100%
        background-position: 50% 0%
@-moz-keyframes bgAnimate 
    0%
        background-position: 50% 0%
    50%
        background-position: 51% 100%
    100%
        background-position: 50% 0%
@keyframes bgAnimate  
    0%
        background-position: 50% 0%
    50%
        background-position: 51% 100%
    100%
        background-position: 50% 0%
@-webkit-keyframes pulse 
    0% 
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)
    
    70% 
        -webkit-box-shadow: 0 0 0 40px rgba(204,169,44, 0)
    
    100% 
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
@keyframes pulse 
    0% 
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)

    70% 
        -moz-box-shadow: 0 0 0 40px rgba(204,169,44, 0)
        box-shadow: 0 0 0 40px rgba(204,169,44, 0)

    100% 
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
        box-shadow: 0 0 0 0 rgba(204,169,44, 0)